@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here

@import 'custom_bootstrap_vars.scss';

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/bootstrap.scss';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

// project specific CSS goes here

@layer base {
  .form-field {
    @apply tw-m-4 tw-w-full;
  }
}

@layer components {
  .rounded-step {
    @apply tw-relative tw-h-16 tw-w-16 tw-rounded-full tw-bg-gray-600 tw-text-white tw-shadow-md md:tw-h-20 md:tw-w-20 lg:tw-h-24 lg:tw-w-24 xl:tw-h-32 xl:tw-w-32 2xl:tw-h-40 2xl:tw-w-40;
  }

  .textinput {
    @apply focus:tw-border-transparent focus:tw-bg-white focus:tw-text-gray-900 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-blue-600;
  }

  .step-wrapper--element {
    @apply tw-flex tw-h-full tw-w-full tw-cursor-pointer tw-flex-col tw-items-center tw-justify-between;
  }

  // because tailwind doesn't support recursive @apply
  .step-wrapper--element:not(:first-child) .rounded-step::before {
    content: '';
    @apply tw-absolute tw-top-1/2 tw-right-full tw--z-10 tw-block tw-h-0.5 tw-w-24 tw-bg-gray-600 md:tw-w-32 lg:tw-w-36 xl:tw-w-48 2xl:tw-w-60;
  }
}

@layer utilities {
  .extend-form-label {
    @apply tw-text-base tw-font-bold tw-text-gray-800;
  }

  .step-icon {
    @apply tw-relative tw-top-1/4 tw-left-1/3 tw-inline-block tw-text-xl lg:tw-text-2xl xl:tw-text-4xl;
  }

  .step-text {
    @apply tw-text-xl tw-font-semibold tw-text-gray-800 lg:tw-text-2xl xl:tw-text-3xl 2xl:tw-text-4xl;
  }

  .form--wrapper {
    @apply tw-my-4 tw-rounded-md tw-border tw-border-solid tw-border-gray-300 tw-p-4 tw-shadow-md;
  }
}

.activate-step {
  & > .rounded-step {
    @apply tw-bg-blue-600;

    &::before {
      @apply tw-bg-blue-600 #{!important};
    }
  }
}
////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
