export DATABASE_URL=postgres://job_board:Lokdhathri%23123@localhost:5432/job_board
export COMPOSE_FILE=local.yml
export CELERY_BROKER_URL=amqp://localhost:5672
export USE_DOCKER=no
export EMAIL_HOST=localhost
export REDIS_URL=redis://localhost:6379/2
