{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form id="filter-form"
          method="get"
          class="align-items-center form--wrapper tw-transition-shadow tw-ease-in-out tw-delay-150">
        {% crispy filter_form %}
        <div class="tw-ml-4 tw-pt-2">
            <input class="btn btn-primary textinput" type="submit" value="Search"/>
        </div>
    </form>
    <div id="expand-collapse-btn"
         class="tw-w-full tw-flex tw-justify-center tw-items-center tw-cursor-pointer">
        <i id="angles-up-icon"
           class="fa-solid fa-angles-up tw-text-xl tw-text-black"></i>
        <i id="angles-down-icon"
           class="fa-solid fa-angles-down tw-text-xl tw-text-black"></i>
    </div>
    <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-h-full">
        {% for job in jobs %}
            {% include "job/job_card.html" with job=job %}
        {% endfor %}
    </div>
    <nav class="tw-my-6 tw-w-full tw-flex tw-justify-center"
         aria-label="pagination start">
        <ul class="pagination">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
            </li>
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }} {% else %}#{% endif %}"
                   tabindex="-1"
                   aria-disabled="true">Previous</a>
            </li>
            {% for each_page in elided_pages %}
                <li class="page-item {% if each_page == page_obj.number %}active{% endif %}">
                    {% if each_page == '...' %}
                        <a class="page-link" href="#">{{ each_page }}</a>
                    {% else %}
                        <a class="page-link" href="?page={{ each_page }}">{{ each_page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% else %}#{% endif %}">Next</a>
            </li>
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% else %}#{% endif %}">Last</a>
            </li>
        </ul>
    </nav>
{% endblock content %}
