{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form id="filter-form"
          method="get"
          class="align-items-center form--wrapper tw-transition-shadow tw-ease-in-out tw-delay-150">
        {% crispy filter_form %}
        <div class="tw-ml-4 tw-pt-2">
            <input class="btn btn-primary textinput" type="submit" value="Search"/>
        </div>
    </form>
    <div id="expand-collapse-btn"
         class="tw-w-full tw-flex tw-justify-center tw-items-center tw-cursor-pointer">
        <i id="angles-up-icon"
           class="fa-solid fa-angles-up tw-text-xl tw-text-black"></i>
        <i id="angles-down-icon"
           class="fa-solid fa-angles-down tw-text-xl tw-text-black"></i>
    </div>
    <h3 class="tw-text-center tw-my-4">Latest Jobs</h3>
    <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-h-full">
        {% for job in latest_jobs %}
            {% include "job/job_card.html" with job=job %}
        {% endfor %}
    </div>
    <h3 class="tw-text-center tw-my-4">Popular Jobs</h3>
    <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-h-full">
        {% for job in popular_jobs %}
            {% include "job/job_card.html" with job=job %}
        {% endfor %}
    </div>
    <h3 class="tw-text-center tw-my-4">Remote Jobs</h3>
    <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-h-full">
        {% for job in remote_jobs %}
            {% include "job/job_card.html" with job=job %}
        {% endfor %}
    </div>
{% endblock content %}
