<div class="form--wrapper step4">
  <div
    data-skill-id="1"
    class="skill-details--wrapper tw-flex tw-flex-col tw-content-between"
  >
    <div class="tw-flex tw-w-full">
      <div class="tw-flex tw-justify-between tw-w-8/12">
        <div class="form-field">
          <label for="skill-name__1" class="form-label extend-form-label"
            >Skill Name</label
          >
          <input
            id="skill-name__1"
            name="skill-name"
            type="text"
            class="form-control textinput"
            placeholder="Enter the skill name"
          />
        </div>
        <div class="form-field">
          <label for="skill-proficiency__1" class="form-label extend-form-label"
            >Proficiency</label
          >
          <input
            id="skill-proficiency__1"
            name="skill-proficiency"
            type="number"
            min="1"
            max="10"
            class="form-control textinput"
          />
        </div>
        <div class="form-field">
          <label for="skill-yoe__1" class="form-label extend-form-label"
            >YOE</label
          >
          <input
            id="skill-yoe__1"
            name="skill-yoe"
            type="number"
            min="0"
            max="100"
            class="form-control textinput"
          />
        </div>
      </div>
      <div class="tw-flex tw-justify-end tw-items-center tw-w-4/12">
        <div class="form-field tw-mt-10 tw-mb-2">
          <button
            type="button"
            class="add-skill btn btn-primary tw-text-center"
          >
            Add Skill
          </button>
          <button
            type="button"
            class="remove-skill btn btn-danger tw-text-center tw-ml-16"
          >
            Remove Skill
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
