<div id="step-header" class="tw-w-full tw-h-36">
  <div class="tw-flex tw-justify-between tw-w-full tw-h-full">
    <div class="step-wrapper" data-link-to="education-details">
      <div class="rounded-step">
        <i class="fas fa-university step-icon"></i>
      </div>
      <div class="step-text" >education</div>
    </div>
    <div class="step-wrapper" data-link-to="work-details">
      <div class="rounded-step">
        <i class="fas fa-briefcase step-icon"></i>
      </div>
      <div class="step-text">work</div>
    </div>
    <div class="step-wrapper" data-link-to="project-details">
      <div class="rounded-step">
        <i class="fas fa-tasks step-icon"></i>
      </div>
      <div class="step-text">projects</div>
    </div>
    <div class="step-wrapper" data-link-to="skill-details">
      <div class="rounded-step">
        <i class="fas fa-tasks step-icon"></i>
      </div>
      <div class="step-text">skills</div>
    </div>
  </div>
  <div class="tw-relative tw--z-10 tw-bottom-2/3 tw-h-0.5 tw-w-10/12 tw-mx-24 tw-bg-gray-400"></div>
</div>
