<div id="step-header" class="tw-w-full tw-h-24 lg:tw-h-32 xl:tw-h-40 2xl:tw-h-48">
  <div class="step-wrapper tw-flex tw-justify-between tw-w-full tw-h-full">
    <div class="step-wrapper--element" data-link-to="education-details">
      <div class="rounded-step">
        <i class="fas fa-university step-icon"></i>
      </div>
      <div class="step-text">education</div>
    </div>
    <div class="step-wrapper--element" data-link-to="work-details">
      <div class="rounded-step">
        <i class="fas fa-briefcase step-icon"></i>
      </div>
      <div class="step-text">work</div>
    </div>
    <div class="step-wrapper--element" data-link-to="project-details">
      <div class="rounded-step">
        <i class="fas fa-tasks step-icon"></i>
      </div>
      <div class="step-text">projects</div>
    </div>
    <div class="step-wrapper--element" data-link-to="skill-details">
      <div class="rounded-step">
        <i class="fas fa-tasks step-icon"></i>
      </div>
      <div class="step-text">skills</div>
    </div>
  </div>
</div>
