<div class="education-details step2">
  <div data-edu-id="1" class="education-details--wrapper tw-flex tw-flex-col tw-content-between">
    <div class="education-details--wrapper--form tw-flex tw-justify-between">
      <div class="form-field">
        <label for="edu-school__1" class="form-label extend-form-label"
          >School</label
        >
        <input
          id="edu-school__1"
          name="edu-school"
          type="text"
          class="form-control my-custom-input"
          placeholder="Enter your school name"
        />
      </div>
      <div class="form-field">
        <label for="edu-degree__1" class="form-label extend-form-label"
          >Degree</label
        >
        <input
          id="edu-degree__1"
          name="edu-degree"
          type="text"
          class="form-control my-custom-input"
          placeholder="Enter your degree"
        />
      </div>
      <div class="form-field">
        <label for="edu-from-date__1" class="form-label extend-form-label"
          >From Date</label
        >
        <input
          id="edu-from-date__1"
          name="edu-from-date"
          type="date"
          class="form-control my-custom-input"
          placeholder="Enter from date"
        />
      </div>
      <div class="form-field">
        <label for="edu-to-date__1" class="form-label extend-form-label">To Date</label>
        <input
          id="edu-to-date__1"
          name="edu-to-date"
          type="date"
          class="form-control my-custom-input"
          placeholder="Enter to date"
        />
      </div>
    </div>
    <div class="education-details--wrapper--buttons tw-flex tw-justify-end tw-my-8 tw-mr-16">
      <button
        type="button"
        class="add-education btn btn-primary tw-text-center"
      >
        Add Education
      </button>
      <button
        type="button"
        class="remove-education btn btn-danger tw-text-center tw-ml-16"
      >
        Remove Education
      </button>
    </div>
  </div>
</div>
