<div data-group="{{form.data_group|concat_hyphen:index}}" class="tw-flex tw-flex-col tw-content-between">
  <div
    class="{{form.data_link_to}}--wrapper tw-h-84 tw-flex tw-flex-col tw-justify-between"
  >
    {% for row in form.rows %}
      <div class="form-row tw-flex tw-w-full tw-justify-between">
        {% for element in row %}
          {% if element.input_type == "text" %}
            {% include 'components/text_input.html' with label=element.label_text id=element.input_name|concat_hyphen:index required=element.required name=element.input_name placeholder=element.placeholder  value=element.value_attribute|get_value:obj extra_classes=element.extra_classes %}
          {% elif element.input_type == "textarea" %}
            {% include 'components/textarea_input.html' with label=element.label_text id=element.input_name|concat_hyphen:index required=element.required name=element.input_name placeholder=element.placeholder value=element.value_attribute|get_value:obj extra_classes=element.extra_classes %}
          {% elif element.input_type == "date" %}
            {% include 'components/date_input.html' with label=element.label_text id=element.input_name|concat_hyphen:index required=element.required name=element.input_name value=element.value_attribute|get_value:obj extra_classes=element.extra_classes %}
          {% elif element.input_type == "number" %}
            {% include 'components/number_input.html' with label=element.label_text id=element.input_name|concat_hyphen:index required=element.required name=element.input_name placeholder=element.placeholder rows=element.rows value=element.value_attribute|get_value:obj extra_classes=element.extra_classes %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
    {% if obj is not None %}
      <input type="hidden" name="pk" value="{{obj.pk}}"/>
    {% endif %}
  </div>
  <div class="tw-my-8 tw-mr-16 tw-flex tw-justify-end">
    <button type="button" class="btn btn-primary tw-text-center {{form.add_btn_class}}">
      {{ form.add_btn_text }}
    </button>
    <button
      autocomplete="off"
      {% if obj is None %}
        disabled="true"
      {% endif %}
      type="button"
      class="btn btn-danger tw-ml-16 tw-text-center {{form.remove_btn_class}}"
    >
      {{ form.remove_btn_text }}
    </button>
  </div>
</div>
