<form
  method="POST"
  action="/candidate/onboarding/skill"
  name="{{step_header_mapping.3.name}}"
  novalidate
  id="{{step_header_mapping.3.data_link_to}}"
  class="needs-validation form--wrapper step3"
>
  {% csrf_token %}
  <div
    data-skill-id="1"
    class="tw-flex tw-w-full tw-justify-between"
  >
    <div class="{{step_header_mapping.3.data_link_to}}--wrapper tw-flex tw-justify-between">
      <div class="form-field tw-grow tw-shrink tw-basis-1/2">
        <label for="skill-name__1" class="form-label extend-form-label"
          >Skill Name <span class="tw-text-red-500">*</span></label
        >
        <input
          required="true"
          id="skill-name__1"
          name="skill-name"
          type="text"
          class="form-control textinput"
          placeholder="Enter the skill name"
        />
      </div>
      <div class="form-field tw-grow tw-shrink tw-basis-1/4">
        <label for="skill-proficiency__1" class="form-label extend-form-label"
          >Proficiency <span class="tw-text-red-500">*</span></label
        >
        <input
          required="true"
          id="skill-proficiency__1"
          name="skill-proficiency"
          type="number"
          min="1"
          max="10"
          class="form-control textinput"
        />
        <small class="form-text text-muted">
            Note that minimum is 1, maximum is 10
        </small>
      </div>
      <div class="form-field tw-grow tw-shrink tw-basis-1/4">
        <label for="skill-yoe__1" class="form-label extend-form-label"
          >YOE <span class="tw-text-red-500">*</span></label
        >
        <input
          required="true"
          id="skill-yoe__1"
          name="skill-yoe"
          type="number"
          min="0"
          max="100"
          class="form-control textinput"
        />
      </div>
    </div>
    <div class="tw-flex tw-justify-end tw-items-center tw-mt-10 tw-mb-2">
      <button type="button" class="add-skill btn btn-primary tw-text-center">
        Add Skill
      </button>
      <button
        autocomplete="off"
        disabled="true"
        type="button"
        class="remove-skill btn btn-danger tw-text-center tw-ml-16"
      >
        Remove Skill
      </button>
    </div>
  </div>
</form>
