<form
  method="POST"
  action="/candidate/onboarding/education"
  name="{{step_header_mapping.0.name}}"
  novalidate
  id="{{step_header_mapping.0.data_link_to}}"
  class="form--wrapper step1 needs-validation"
>
  {% csrf_token %}
  <div
    data-edu-id="1"
    class="tw-flex tw-flex-col tw-content-between"
  >
    <div
      class="{{step_header_mapping.0.data_link_to}}--wrapper tw-h-48 tw-flex tw-flex-col tw-justify-between"
    >
      <div class="tw-flex tw-justify-center tw-w-full">
        <div class="form-field tw-flex-grow-2 tw-flex-shrink">
          <label for="edu-school__1" class="form-label extend-form-label"
            >School <span class="tw-text-red-500">*</span>
          </label>
          <input
            required="true"
            id="edu-school__1"
            name="school"
            type="text"
            class="form-control textinput"
            placeholder="Enter your school name"
          />
        </div>
        <div class="form-field tw-flex-grow tw-flex-shrink-2 tw-ml-16">
          <label for="edu-degree__1" class="form-label extend-form-label"
            >Degree <span class="tw-text-red-500">*</span></label
          >
          <input
            required="true"
            id="edu-degree__1"
            name="degree"
            type="text"
            class="form-control textinput"
            placeholder="Enter your degree"
          />
        </div>
      </div>
      <div class="tw-flex tw-justify-between tw-w-full">
        <div class="form-field tw-flex-grow tw-flex-shrink">
          <label for="edu-from-date__1" class="form-label extend-form-label"
            >From Date <span class="tw-text-red-500">*</span></label
          >
          <input
            required="true"
            id="edu-from-date__1"
            name="from-date"
            type="date"
            class="form-control textinput"
            placeholder="Enter from date"
          />
        </div>
        <div class="form-field tw-flex-grow tw-flex-shrink tw-ml-16">
          <label for="edu-to-date__1" class="form-label extend-form-label"
            >To Date <span class="tw-text-red-500">*</span></label
          >
          <input
            required="true"
            id="edu-to-date__1"
            name="to-date"
            type="date"
            class="form-control textinput"
            placeholder="Enter to date"
          />
        </div>
      </div>
    </div>
    <div
      class="tw-flex tw-justify-end tw-my-8 tw-mr-16"
    >
      <button
        type="button"
        class="add-education btn btn-primary tw-text-center"
      >
        Add Education
      </button>
      <button
        autocomplete="off"
        disabled="true"
        type="button"
        class="remove-education btn btn-danger tw-text-center tw-ml-16"
      >
        Remove Education
      </button>
    </div>
  </div>
</form>
