<div class="step1">
  <div class="form-field tw-p-3">
    <label for="resumeFile" class="form-label extend-form-label">
      Upload your resume
      <span class="tw-text-sm tw-text-gray-600">
        (* note: only pdf/doc/docx extensions are supported)
      </span>
    </label>
    <input
      class="form-control"
      type="file"
      id="resumeFile"
      accept=".pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
    />
  </div>
</div>
