<form novalidate id="work-details" class="needs-validation form--wrapper step2">
  <div data-work-id="1" class="work-details--wrapper tw-flex tw-flex-col tw-content-between">
    <div class="work-details--wrapper--form tw-h-84 tw-flex tw-flex-col tw-justify-between">
      <div class="tw-flex tw-justify-center tw-w-full">
        <div class="form-field tw-flex-grow-2 tw-flex-shrink">
          <label for="work-company__1" class="form-label extend-form-label"
            >Company</label
          >
          <input
            required="true"
            id="work-company__1"
            name="work-company"
            type="text"
            class="form-control textinput"
            placeholder="Enter the organization name"
          />
        </div>
        <div class="form-field tw-flex-grow tw-flex-shrink-2 tw-ml-16">
          <label for="work-role__1" class="form-label extend-form-label"
            >Role</label
          >
          <input
            required="true"
            id="work-role__1"
            name="work-role"
            type="text"
            class="form-control textinput"
            placeholder="Enter the role"
          />
        </div>
      </div>
      <div class="tw-flex tw-justify-between tw-w-full">
        <div class="form-field tw-flex-grow tw-flex-shrink">
          <label for="work-from-date__1" class="form-label extend-form-label"
            >From Date</label
          >
          <input
            required="true"
            id="work-from-date__1"
            name="work-from-date"
            type="date"
            class="form-control textinput"
            placeholder="Enter from date"
          />
        </div>
        <div class="form-field tw-flex-grow tw-flex-shrink tw-ml-16">
          <label for="work-to-date__1" class="form-label extend-form-label">To Date</label>
          <input
            required="true"
            id="work-to-date__1"
            name="work-to-date"
            type="date"
            class="form-control textinput"
            placeholder="Enter to date"
          />
        </div>
      </div>
      <div class="tw-flex tw-justify-between tw-w-full">
        <div class="form-field tw-flex-grow tw-flex-shrink">
          <label for="work-resp__1" class="form-label extend-form-label"
            >Responsibilities</label
          >
          <textarea
          required="true"
          class="form-control textinput tw-resize-none"
          placeholder="Enter your responsibilities there!"
          name="work-resp" id="work-resp__1"
          rows="5" ></textarea>
        </div>
      </div>
    </div>
    <div class="work-details--wrapper--buttons tw-flex tw-justify-end tw-my-8 tw-mr-16">
      <button
        type="button"
        class="add-work btn btn-primary tw-text-center"
      >
        Add Work Experience
      </button>
      <button
        autocomplete="off"
        disabled="true"
        type="button"
        class="remove-work btn btn-danger tw-text-center tw-ml-16"
      >
        Remove Work Experience
      </button>
    </div>
  </div>
</form>
