<div class="tw-flex tw-justify-between tw-p-3">
  <div class="tw-cursor-pointer">
    <div class="rounded-step">
      <i class="fas fa-file step-icon"></i>
    </div>
    <div class="step-text">resume</div>
  </div>
  <div class="tw-cursor-pointer">
    <div class="rounded-step">
      <i class="fas fa-university step-icon"></i>
    </div>
    <div class="step-text">education</div>
  </div>
  <div class="tw-cursor-pointer">
    <div class="rounded-step">
      <i class="fas fa-briefcase step-icon"></i>
    </div>
    <div class="step-text">work history</div>
  </div>
  <div class="tw-cursor-pointer">
    <div class="rounded-step">
      <i class="fas fa-tasks step-icon"></i>
    </div>
    <div class="step-text">projects & skills</div>
  </div>
</div>
