<form
  method="POST"
  action="/candidate/onboarding/project"
  name="{{step_header_mapping.2.name}}"
  novalidate
  id="{{step_header_mapping.2.data_link_to}}"
  class="needs-validation form--wrapper step2"
>
  {% csrf_token %}
  <div
    data-project-id="1"
    class="tw-flex tw-flex-col tw-content-between"
  >
    <div
      class="{{step_header_mapping.2.data_link_to}}--wrapper tw-h-84 tw-flex tw-flex-col tw-justify-between"
    >
      <div class="tw-flex tw-justify-center tw-w-full">
        <div class="form-field">
          <label for="project-name__1" class="form-label extend-form-label"
            >Project Name <span class="tw-text-red-500">*</span></label
          >
          <input
            required="true"
            id="project-name__1"
            name="project-name"
            type="text"
            class="form-control textinput"
            placeholder="Enter the project name"
          />
        </div>
      </div>
      <div class="tw-flex tw-justify-between tw-w-full">
        <div class="form-field tw-flex-grow tw-flex-shrink">
          <label
            for="project-description__1"
            class="form-label extend-form-label"
            >Project Description <span class="tw-text-red-500">*</span></label
          >
          <textarea
            required="true"
            class="form-control textinput tw-resize-none"
            placeholder="Enter the project description"
            name="project-description"
            id="project-description__1"
            rows="5"
          ></textarea>
        </div>
      </div>
      <div class="tw-flex tw-justify-between tw-w-full">
        <div class="form-field">
          <label for="project-skills__1" class="form-label extend-form-label"
            >Skills Used <span class="tw-text-red-500">*</span></label
          >
          <input
            required="true"
            id="project-skills__1"
            name="project-skills"
            type="text"
            class="form-control textinput"
            placeholder="Enter project skills used"
          />
          <!-- TODO : add id and aria-describedBy for accessibility. Refer bootstrap docs -->
          <small class="form-text text-muted">
            Add comma separated skills. For example : python, django, html
          </small>
        </div>
      </div>
    </div>
    <div
      class="tw-flex tw-justify-end tw-my-8 tw-mr-16"
    >
      <button type="button" class="add-project btn btn-primary tw-text-center">
        Add Project
      </button>
      <button
        autocomplete="off"
        disabled="true"
        type="button"
        class="remove-project btn btn-danger tw-text-center tw-ml-16"
      >
        Remove Project
      </button>
    </div>
  </div>
</form>
