<div data-edu-id="{{index}}" class="tw-flex tw-flex-col tw-content-between">
  <div
    class="{{step_header_mapping.0.data_link_to}}--wrapper tw-h-48 tw-flex tw-flex-col tw-justify-between"
  >
    <div class="tw-flex tw-w-full tw-justify-center">
      <div class="form-field tw-flex-shrink tw-flex-grow-2">
        <label for="edu-school__{{index}}" class="form-label extend-form-label"
          >School <span class="tw-text-red-500">*</span>
        </label>
        <input
          required="true"
          id="edu-school__{{index}}"
          name="edu-school"
          {% if education_obj is not None %}
            value="{{education_obj.school_name}}"
          {% endif %}
          type="text"
          class="form-control textinput"
          placeholder="Enter the school name"
        />
      </div>
      <div class="form-field tw-ml-16 tw-flex-shrink-2 tw-flex-grow">
        <label for="edu-degree__{{index}}" class="form-label extend-form-label"
          >Degree <span class="tw-text-red-500">*</span></label
        >
        <input
          required="true"
          id="edu-degree__{{index}}"
          name="edu-degree"
          {% if education_obj is not None %}
            value="{{education_obj.degree}}"
          {% endif %}
          type="text"
          class="form-control textinput"
          placeholder="Enter the degree"
        />
      </div>
    </div>
    <div class="tw-flex tw-w-full tw-justify-between">
      <div class="form-field tw-flex-shrink tw-flex-grow">
        <label for="edu-from-date__{{index}}" class="form-label extend-form-label"
          >From Date <span class="tw-text-red-500">*</span></label
        >
        <input
          required="true"
          id="edu-from-date__{{index}}"
          name="edu-from-date"
          {% if education_obj is not None %}
            value='{{education_obj.from_date|date:"Y-m-d"}}'
          {% endif %}
          type="date"
          class="form-control textinput"
          placeholder="Enter from date"
        />
      </div>
      <div class="form-field tw-ml-16 tw-flex-shrink tw-flex-grow">
        <label for="edu-to-date__{{index}}" class="form-label extend-form-label"
          >To Date <span class="tw-text-red-500">*</span></label
        >
        <input
          required="true"
          id="edu-to-date__{{index}}"
          name="edu-to-date"
          {% if education_obj is not None %}
            value='{{education_obj.to_date|date:"Y-m-d"}}'
          {% endif %}
          type="date"
          class="form-control textinput"
          placeholder="Enter to date"
        />
      </div>
    </div>
  </div>
  <div class="tw-my-8 tw-mr-16 tw-flex tw-justify-end">
    <button type="button" class="add-education btn btn-primary tw-text-center">
      Add Education
    </button>
    <button
      autocomplete="off"
      {% if education_obj is None %}
        disabled="true"
      {% endif %}
      type="button"
      class="remove-education btn btn-danger tw-ml-16 tw-text-center"
    >
      Remove Education
    </button>
  </div>
</div>
