<div class="form-field {{extra_classes}}">
  <label for="{{id}}" class="form-label extend-form-label"
    >School
    {% if required %}
      <span class="tw-text-red-500">*</span>
    {% endif %}
  </label>
  <input
    required="{{required}}"
    id="{{id}}"
    name="{{name}}"
    {% if value is not None %}
      value='{{value|date:"Y-m-d"}}'
    {% endif %}
    type="date"
    class="form-control textinput"
  />
  {% if extra_elements is not None %}
    {% for element in extra_elements %}
      {{element}}
    {% endfor %}
  {% endif %}
</div>
