<div class="form-field {{extra_classes}}">
  <label for="{{id}}" class="form-label extend-form-label"
    >School
    {% if required %}
      <span class="tw-text-red-500">*</span>
    {% endif %}
  </label>
  <textarea
    required="{{required}}"
    id="{{id}}"
    name="{{name}}"
    type="text"
    class="form-control textinput"
    placeholder="{{placeholder}}"
    rows={{rows}}
  > {% if value is not None %}
      {{value}}
    {% endif %}
  </textarea>
  {% if extra_elements is not None %}
    {% for element in extra_elements %}
      {{element}}
    {% endfor %}
  {% endif %}
</div>